#logo-container {
  height: 100%;
  max-height: 80px;
}

#logo-container img {
  height: 100%;
  width: auto;
}

input {
  padding-left: 5px;
}

.header-row {
  max-width: 1600px;
  margin: auto;
}

.menu-item {
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 14px;
}



.nav-item {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 16px;
  color: white;
}

.header-row {
  height: 110px;
}

.hamburger {
  cursor: pointer;
  background-color: rgb(15, 74, 134);
  padding: 5px 7px;
  border-radius: 3px;
}

.ham-bar {
  width: 22px;
  height: 4px;
  background-color: white;
  margin: 4px 0;
}
