#logo-container {
  height: 100%;
}

#logo-container img {
  height: 100%;
  width: auto;
}

input {
  padding-left: 5px;
}

.menu-item {
  padding: 10px;
  white-space: nowrap;
  font-size: 14px;
}

.header-row {
  height: 140px;
}
