#logo-container {
  height: 100%;
}

#logo-container img {
  height: 100%;
  width: auto;
}

input {
  padding-left: 5px;
}

.menu-item {
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 14px;
}

.nav-item {
  padding: 10px 15px;
  white-space: nowrap;
  font-size: 14px;
}

.header-row {
  height: 140px;
}

.ham-bar {
  width: 22px;
  height: 4px;
  background-color: black;
  margin: 4px 0;
}
